body{
    background-color: #e0e0e0;
}

.mapdiv{
    width:100%;
    margin: auto;
}

.mapdiv path {
    fill: #c7c7c7;
    stroke: #fff;
    stroke-width:1px;
    transition: fill 0.3s;
}


#IN-RJ{
    fill: #666666;
}
.mapdiv #IN-RJ:hover{
    fill: #c55104;
}
#IN-MP{
    fill: #666666;
}
.mapdiv #IN-MP:hover{
    fill: #057028;
}
#IN-CT{
    fill: #666666;
}
.mapdiv #IN-CT:hover{
    fill: #1c3e70;
}

.mapdiv :hover {
    fill:gray;
}
